/* Base Application Styles */
.galleryWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
}

.pictureWrapper {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.picture {
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.leftButton,
.rightButton {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  &:hover {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  transition: all 0.3s ease-in;
}

.leftButton {
  left: 20px;
  transform: rotate(-45deg);
}

.rightButton {
  right: 20px;
  transform: rotate(135deg);
}

.pictureCaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
